body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    margin-left: 7%;
}

.link-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 7px;
}

.banner-img {
    /* width: 85%; */
}